<%- model_class = Restaurant -%>
<div class="page-header">
  <h1>Welcome to Reservester</h1>
</div>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
        <div class="span3">
          <h3><%= restaurant.name %></h3>
          <%= image_tag restaurant.image_url(:thumb).to_s %></br>
          <%= restaurant.address %></br></br>
          <%= restaurant.description %></br></br>
          <% if current_owner == restaurant.owner %>
            <%= link_to t('.new', :default => t("helpers.links.new")), new_restaurant_path, :class => 'btn btn-mini' %>
            <%= link_to t('.show', :default => t("helpers.links.show")), restaurant, :class => 'btn btn-mini' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_restaurant_path(restaurant), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    restaurant_path(restaurant),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-mini btn-danger' %>
          <% else %>
            <%= link_to t('.show', :default => t("helpers.links.show")), restaurant, :class => 'btn btn-mini' %>
          <% end %>
        </div>
    <% end %>
  </div>
    
  </tbody>
</table>